## Table of Contents:
* [Read from a file](#first-bullet)
* [Export to a file](#export)
* [Visualize data](#second-bullet)
* [Data type Conversion](#third-bullet)
* [Data Operations](#fourth-bullet)
* [Joins](#Joins)
* [Variable Selection](#fifth-bullet)

### Import statements

In [30]:
import pandas as pd
import numpy as np
import glob
import os

## Read from a file <a class="anchor" id="first-bullet"></a>

In [43]:
#> To read data from a local csv file
#df = pd.read_csv(r'C:\Users\Lenovo\Documents\Study\Data\LCdata_27variables\lending_club_loan_two.csv')

#raw_df = pd.read_csv(r'C:\Users\Lenovo\Documents\Study\Data\LCdata_2007_2011\loan.csv')

#> Read csv from current location
#covid = pd.read_csv('covid_19_clean_complete.csv')

#> Read csv file in an url
#data = pd.read_csv(r"https://raw.githubusercontent.com/madmashup/targeted-marketing-predictive-engine/master/banking.csv")

#> read sas dataset
#sas_data = pd.read_sas(r'C:\Users\Lenovo\Documents\Study\Data\Credit Risk Modeling in SAS by brown\Chapter 3\KGB.sas7bdat')

#> df is user defined data frame name.
#> r charecter is placed before the file path to to take care of any symbols within the path name, such as the backslash symbol). Otherwise, you’ll get the esrror.
#> Python raw string is created by prefixing a string literal with ‘r’ or ‘R’. Python raw string treats backslash (\) as a literal character. This is useful when we want to have a string that contains backslash and don’t want it to be treated as an escape character.

When you need to read data from multiple files and append all of them horizontally.

In [ ]:
## Since we have data in different files, we need to combine all the rows. 
## Below joins file path with file names using wild charecter 
#file_path = os.path.join(r"C:\Users\Lenovo\Downloads\Intraday 1 Min Data Sep2021\Intraday 1 Min Data\Intraday 1 Min Data\2021", "*NIFTY.txt")

## Lists all the file paths
#file_list = glob.glob(file_path)

## Since we do not have header in the files, we need to use function in order to be able to create headers and use in map function
#def f(i):
#    return pd.read_csv(i, names = ['Index','Date','Time','Open','High','Low','Close','c1','c2'])

## appends all the data horizontally
#dfj = pd.concat(map(f, file_list))

### Export to a file <a class="anchor" id="export"></a>

In [28]:
#> index=False is required to remove the index column. 
#sas_data.to_csv(r'C:\Users\Lenovo\Documents\Python\KGB_data.csv', index=False)

## Visualize the data <a class="anchor" id="second-bullet"></a>

In [25]:
#> To show first 5 rows of a data frame
#df.head()
#covid.head()

#> To show last 5 rows of a data frame
#sas_data.tail()

In [27]:
#> To see the information of each column header and respective data type (if columns are less otherwise summary is shown)
#df.info()
#raw_df.info()
#covid.info()

Data types

In [6]:
#> see data types of all columns
#df.dtypes

#> to see the data type of selected columns
#raw_df['dti'].dtypes

#> below for showing unique values of a column also shows the data type of selected column at the end
#raw_df.int_rate.unique()

### Summary statistics

In [14]:
#> To show summary statistics of all columns in a data frame
#df.describe()

#> To show summary statistics of a specific column in a data frame
#df['int_rate'].describe()

To see count / frequency of each values in a column

In [ ]:
#df['home_ownership'].value_counts()
#> OR
#df.home_ownership.value_counts()

To see unique values of all columns of a dataframe

In [ ]:
#print(df.apply(lambda col: col.unique()))

To see frequency of values of a column (loan_status) within a selected values of other column

In [26]:
#df.groupby('loan_status').mean()

#df.loc[df['home_ownership']=='RENT', 'loan_status'].value_counts()
#df.loc[df.annual_inc >= 1000000, 'loan_status'].value_counts()

To see unique values of a column

In [4]:
#raw_df.home_ownership.unique()

Correlation matrix

In [ ]:
#plt.figure(figsize=(12, 8))
#seaborn.heatmap(df.corr(), annot=True, cmap='viridis')

### Null values

In [29]:
#> To see the count of NA in a column
#df.emp_title.isna().sum()

#> Drop null value records from data
#df.dropna()

## Data type Conversion <a class="anchor" id="third-bullet"></a>

To numeric

In [42]:
#> We have percentage values in a column which are read as object type. We need to change it to numeric type to perform any numerical operations.

#> Example1
#> smaple series
#s = pd.Series(['10%', '50.3%', '60%', '1.343%'])

#> remove % at the end of string
#s = s.str.rstrip('%')

#> convert string/object to numeric
#s = pd.to_numeric(s)

In [41]:
#> Example2

#> Observe the values and data type
#raw_df.int_rate.unique()

#raw_df['int_rate'] = raw_df['int_rate'].str.rstrip('%')

#raw_df['int_rate'] = pd.to_numeric(raw_df['int_rate'])

#raw_df['int_rate'].dtypes

To datetime

In [ ]:
## You have date column df['date'] = 01312021 ...
## You need to conver it to date as
#df['date'] = pd.to_datetime(df['date'], '%m%d%Y')

## You have date column df['date'] = 31-01-21 ...
## You need to conver it to date as
#df['date'] = pd.to_datetime(df['date'], '%d-%m-%y')


## you have a time column df['time'] = 9:30
#df['time'] = pd.datetime(df['time'], %H:%M)

In [ ]:
Input fuction

In [ ]:
## Is used to read input from user while code execution
#x = int(input("Enter interval width in minutes: "))
## Input function always return string type therefore we need toconver it to numeric to perform any numerical operations.

## Data Operations <a class="anchor" id="fourth-bullet"></a>

Concatnate two columns

In [ ]:
#dfj['date_time'] = dfj['Date'].astype(str)+" "+dfj['Time']
## Since date is not a string type (ineger in this case), we first need to conver it into string in order to add to another string

Reset Index

In [ ]:
## Reset index from 0 to length of the data frame
#dfi = dfj.reset_index()

## Since old index is converted into a column with 'index' as column name, we have to derop it.
#dfd = dfi.drop(['index'], axis = 1)

Drop columns

In [ ]:
## Drop unnecessary columns
#dfj = dfj.drop(['c1','c2','date_time','Time','Index'], axis=1)

#### Joins <a class="anchor" id="Joins"></a>

In [ ]:
#> Use merge, which is an inner join by default:
#pd.merge(df1, df2, left_index=True, right_index=True)

#> Or join, which is a left join by default:
#df1.join(df2)

#> Or concat), which is an outer join by default:
#pd.concat([df1, df2], axis=1)

Creating dummies

In [ ]:
#> creating dummies for gender
#data['Gender'] = data['Gender'].map({'Male':0, 'Female':1})

#> Creating dummy variables for all the categorical variables with categories 2 or more
#df = pd.get_dummies(df, columns = dummies, drop_first=True)

#### Variable Selection <a class="anchor" id="fifth-bullet"></a>

VIF: Variable Inflation Factor to check multi-colliearity; VIF = 1/(1-sqr(R)) should be less than 5

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
#> First creste dummies for categorical variables
#> VIF dataframe
vif_data = pd.DataFrame()
vif_data["feature"] = df.columns
  
#> calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(df.values, i)
                          for i in range(len(df.columns))]
  
print(vif_data)
#> this create a dataframe with 2 columns 'features' and 'VIF'.